<!DOCTYPE html>
<html>
  <head>

	<style>
		.message-border {
			border: 1px groove silver;
		}

		.red-highlight {
			background-color: red;
			color: white;
		}

		.green-highlight {
			background-color: #00b300;
			color: white;
		}
		
	</style>
    <title>DiffApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid">
    	<%= yield %>
    </div>
  </body>
</html>
